@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Gujarati:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #007bff;
  --primary-dark: #0056b3;
  --danger-color: #e74c3c;
  --background: #f5f7fa;
  --input-border: #ccc;
  --text-dark: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Noto Sans Gujarati", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.watermark {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./assets/component/Watermark.png");

  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='300' height='300'><g fill='rgba(0,0,0,0.4)' font-size='16' transform='rotate(-45 0,0)'><text x='0' y='20'>A. F. INFOSYS</text><text x='0' y='40'>93764 43146</text><text x='0' y='60'>99247 82732</text></g></svg>");
}

.report-table,
.report-table thead,
.report-table tbody,
.report-table tr,
.report-table th,
.report-table td {
  background: transparent !important;
}

.benefit1 {
  background-image: url("./assets/benefit1.png");
  background-size: contain;
  // center
  background-position: center;
  background-repeat: no-repeat;
}

.benefit2 {
  background-image: url("./assets/benefit2.png");
  background-size: contain;
  // center
  background-position: center;
  background-repeat: no-repeat;
}
