div {
  button.add-btn {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 2rem;

    background: var(--primary-dark);
    color: #fff;

    &:hover {
      background-color: #007de4;
    }
  }
}
