table.tharavTable {
  border: none;

  tr {
    th {
      border: none;

      font-weight: 700;
      font-size: 14px;
      padding: 3px;

      &:nth-of-type(2) {
        width: 60px;
      }

      &:nth-of-type(3) {
        width: 40px;
      }
    }
  }

  tr {
    td {
      border: none;
      font-size: 13px;

      padding: 2px;
    }
  }
}

table.comityTable {
  max-width: fit-content;
  margin-top: 5px;
  margin-bottom: 10px;

  tr {
    th {
      border: none;

      font-weight: 700;
      font-size: 15px;
      padding: 3px 5px;
      padding-right: 15px;

      &:nth-of-type(1) {
        width: 30px;
      }
    }
  }

  tr {
    td {
      border: none;
      font-size: 14px;

      padding: 3px 5px;
      padding-right: 15px;
      padding-top: 10px;
    }
  }

  &.border {
    border: 1px solid #000;

    tr {
      th {
        border: 1px solid #000;
        padding: 10px;

        font-size: 16px;
      }

      td {
        border: 1px solid #000;
        padding: 10px;

        font-size: 16px;

        &:last-child {
          min-width: 140px;
        }
      }
    }
  }
}

#report-1 {
  p {
    font-size: 14px;
  }
}
