.akarni-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0.6rem;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.akarni-header {
  text-align: center;
  margin-bottom: 1.5rem;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #333;
  }

  h3 {
    font-size: 1.2rem;
    color: #666;
    font-weight: 500;
    margin: 0.3rem 0 0;
  }
}

.project-info {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  flex-wrap: wrap;
  padding: 0.4rem;
  background: #f8f9fb;
  border-radius: 12px;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #444;
}

.quicklinks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.loading-spinner {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 2rem;
}

.quicklinks {
  color: white;
  border-radius: 20px;
  padding: 8px 18px;
  width: 100%;
  max-width: 500px;

  font-size: 16px;
  font-weight: 800;
  text-align: center;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }

  &:nth-child(1) {
    background: linear-gradient(135deg, #e96443, #904e95); // deep coral → plum
  }
  &:nth-child(2) {
    background: linear-gradient(
      135deg,
      #654ea3,
      #eaafc8
    ); // rich violet → soft rose
  }
  &:nth-child(3) {
    background: linear-gradient(135deg, #f7971e, #ffd200); // amber → golden
  }
  &:nth-child(4) {
    background: linear-gradient(135deg, #11998e, #38ef7d); // teal → green
  }
  &:nth-child(5) {
    background: linear-gradient(
      135deg,
      #fc6076,
      #ff9a44
    ); // ruby → sunset orange
  }
  &:nth-child(6) {
    background: linear-gradient(
      135deg,
      #396afc,
      #2948ff
    ); // deep blue → royal blue
  }
  &:nth-child(7) {
    background: linear-gradient(
      135deg,
      #fc39ab,
      #e629ff
    ); // deep blue → royal blue
  }
  &:nth-child(8) {
    background: linear-gradient(
      135deg,
      #39fcd5,
      #e629ff
    ); // deep blue → royal blue
  }
}
