h3.text-base {
  font-size: 15px;
  line-height: 18px;
}

#title {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  padding-left: 5px;
  align-items: end;

  margin-top: -40px;
  border-bottom: 1px solid #3b2d2d;
  padding-bottom: 5px;

  div {
    display: flex;
    flex-direction: column;
    align-items: start;

    h2 {
      // color: transparent;
      // background: linear-gradient(to bottom, #8b0000, #ff5e00);
      // background-clip: text;
      // -webkit-background-clip: text;

      margin-top: -10px;
      width: 430px;
      height: 42px;
      background: url("../../assets/component/Heading.svg");
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 5px;
    }

    p {
      font-size: 15px;

      &.address {
        font-size: 14.5px;
        margin-top: 10px;
        padding-top: 0px;
        border-top: 1px solid #766868;
        color: rgb(199, 15, 107);
        font-weight: 600;
      }
    }
  }

  & > img {
    max-width: 120px;
    height: 120px;
  }
}

/* New CSS for background elements */
.table-container.letterpad {
  position: relative;
  overflow: hidden; /* Ensures pseudo-elements don't overflow */
  z-index: 1;
}

.table-container.letterpad::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 350px;
  opacity: 0.3;
  z-index: -1;
  background: url("../../assets/component/corner.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.table-container.letterpad::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 735px;
  height: 360px;
  opacity: 0.7;
  z-index: -1;
  background: url("../../assets/component/bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.watermark-logo {
  content: "";
  position: absolute;

  left: 250px;
  top: 250px;

  width: 300px;
  height: 300px;
  opacity: 0.25;
  z-index: -1;

  background: url("../../../public/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.watermark-logo::after {
  content: "";
  position: absolute;

  left: -200px;
  top: 380px;

  width: 280px;
  height: 280px;
  opacity: 0.4;
  z-index: -1;

  background: url("../../assets/component/survey.png");
  background-size: contain;
  background-repeat: no-repeat;
}

table,
table th,
table td,
table tr {
  background: transparent !important;
}

.trans {
  transform: translateY(-10px);
}
