#certificate-page {
  .wrapper {
    display: flex;
    flex-direction: column;

    margin: 10px;
    // margin-left: 20px;

    width: calc(100% - 20px);
    height: calc(100% - 20px);

    background: url("../../assets/Certificate/Boder\ 1.png");
    background-size: contain;
    background-repeat: no-repeat;

    padding: 75px;
    padding-right: 80px;

    position: relative;
    z-index: 0;

    .roundseal {
      position: absolute;
      top: 20px;
      left: 50px;
      width: calc(100% - 100px);
      height: 100%;

      /* Background Settings */
      background: url("../../assets/Certificate/Round Seal Stamp Format.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      z-index: -1;
      opacity: 0.5;

      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 100%;
        height: 100%;
        overflow: visible;
      }

      .seal-text {
        fill: #0a206234; /* Text Color */
        font-weight: 400;
        font-size: 32px;
        font-family: sans-serif;
        letter-spacing: 1px; /* "U" shape में अक्षर चिपक न जाएं, इसलिए गैप बढ़ाएं */
        text-transform: uppercase;
      }
    }

    h1 {
      color: red;
      font-weight: 600;
      font-size: 55px;

      text-align: center;

      letter-spacing: 1px;
      margin-top: -10px;
    }

    .icon {
      position: relative;
      width: 100%;
      margin-bottom: 20mm;

      &::after {
        content: "";
        position: absolute;
        top: -50px;
        left: 10px;

        background: url("../../assets/Certificate/3D\ Ball\ Rounded.png");
        background-size: contain;
        background-repeat: no-repeat;

        width: 100px;
        height: 100px;
      }

      &::before {
        content: "";
        position: absolute;
        top: -50px;
        right: 10px;

        background: url("../../assets/Certificate/Glasses\ Gandhi\ Ji.png");
        background-size: contain;
        background-repeat: no-repeat;

        width: 150px;
        height: 150px;
      }
    }

    .icon2 {
      position: relative;
      width: 100%;
      margin-top: 140px;

      &::after {
        content: "";
        position: absolute;
        top: -30px;
        left: 20px;

        background: url("../../assets/Certificate/Jai\ Hind\ Logi.png");
        background-size: contain;
        background-repeat: no-repeat;

        width: 120px;
        height: 120px;
      }
    }

    p {
      font-size: 30px;
      color: rgb(24, 143, 104);
    }

    .taluka-section {
      padding-right: 25px;

      p {
        font-size: 25px;
        color: rgb(24, 36, 143);
        font-weight: 600;
      }
    }

    .spot-section {
      padding-left: 30px;
      margin-top: 10px;

      p {
        font-size: 20px;
        color: rgb(215, 110, 78);
      }
    }
  }
}
